/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111D4A;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  padding: 0;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}


/* ---- particles.js container ---- */

#particles-js{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* ---- main area container ---- */

.index-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.head-index {
    display: block;
    z-index: 10;
    padding: 0 50px;
    background-color: #FDFFFC;
    line-height: 120px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 768px;
}

/* Adjust for mobile screens */

@media only screen and (max-width: 768px) {

  .head-index {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: unset;
  }

  .head-nav {
    float: unset;
  }

  .head-title {
    font-size-adjust: ;
    float: unset;
  }

}

.head-title {
    font-size: 1.5rem;
    font-weight: normal;
    color: #111D4A;
    float: left;
    margin: 0;    
}

.head-nav {
    float: right;
}

.head-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.head-nav-item {
    display: inline-block;
    margin-left: 15px;
}

.head-nav-link {
    font-size: 1rem;
    color: #111D4A;
    text-decoration: none;
    background: transparent;
}