// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Make the footer look a little more compact.

.footer-col-wrapper *
{
    margin-bottom: 0;
}

.footer-col-wrapper, .social-links
{
    padding-bottom: 15px;
}

// Center footer email content

.footer-col-email, .footer-col-quote {
     display: flex;
     width: auto;
}

.footer-col-email {
    padding-right: 40px;
}

.contact-list {
    align-self: center;
}

// Change defaut h1 size

//.post-title, .post-content h1{
//    @include relative-font-size(2);
//}

// Some custom colour settings

.site-title, .site-title:visited
{
    color: #bbbbbb;
}

.site-nav .menu-icon > svg path
{
    fill: #bbbbbb;
}

// Add padding to about image

img {
   padding-bottom: 15px;
}